.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 80%;
  height: 80%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 10%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.35s ease-in;
}

