.Tile {
  text-align: center;
  outline: none;
  cursor: pointer;
  font: inherit;
  display: inline-block;
  background-color: #363062;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px black;
  color: white;
  width: 100px;
  height: 100px;
  margin: 20px 20px;
  font-size: 1rem;
  font-weight: bold;
}