.ButtonTile {
  background-color: #363062;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 50px;
  margin: 20px 50px;
  font-weight: bold;
  font-size: 3rem;
}

/* .ButtonTile:first-of-type {
  margin-left: 0;
  padding-left: 0;
} */

