.Button {
  text-align: center;
  outline: none;
  cursor: pointer;
  font: inherit;
  display: inline-block;
  background-color: #363062;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  padding: 50px;
  margin: 50px 50px;
  font-size: 5rem;
  font-weight: bold;
}



/* .ButtonTile:first-of-type {
  margin-left: 0;
  padding-left: 0;
} */

